*.deb
*.py
/input/self*
# Ensure .gitignore, Makefile, and README.md in the root are not ignored
!.gitignore
!Makefile
!README.md

# Ignore the virtual environment directory (if needed)
venv/
/submit.txt